/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/


/*  basic reset to the browser       */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato" ,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
.header{
    position: relative;
    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba(135, 222, 120, 0.8),rgba(40,180,131,0.8)), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
clip-path: polygon(0 0,100% 0,100%  75vh ,0 100%);
}
.logo_box{
position: absolute;
top: 40px;
left: 40px;
}
.logo{
height: 35px;

}
.textbox{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center  ;
}
.heading_primary{
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
backface-visibility: hidden;
}
.heading_primary_main{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 35px;
animation: moveLeft 1s ease-out;
}
.heading_primary_sub{
display: block;
font-size: 20px;
font-weight: 700;
letter-spacing: 17.5px;

animation: moveRight 1s ease-out;


}

@keyframes moveLeft{
0%{
opacity: 0;
transform: translate(-100px);
}
80%{
    opacity: 1;
    transform: translate(10px);
}
100%{
opacity: 1;
transform: translate(0 );
}
}

@keyframes moveRight{
    0%{
    opacity: 0;
    transform: translateX(100px);
    }
    80%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
    opacity: 1;
    transform: translate(0 );
    }
    }


    @keyframes moveBottom{
        0%{
        opacity: 0;
        transform: translateY(30px);
        }
        100%{
        opacity: 1;
        transform: translate(0 );
        }
        }
        

    .btn:link,
    .btn:visited
    {
text-decoration: none;
text-transform: uppercase;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s ;
position: relative;}
.btn:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    transform: translateY(-3px);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.btn_white{
background-color: #fff;
color: #777;
}
.btn::after{
 content: "";
 height: 100%;
 width: 100%;
 display: inline-block;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all 0.4s;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn_white::after{
    background-color: #fff;

}
.btn_animate{
    animation-fill-mode: backwards;
animation: moveBottom .5s ease-out;

}
